.ui.inverted.segment {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-icon {
  padding-bottom: 10px !important;
  padding-left: 9px !important;
}

.footer {
  position: fixed;
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ui.label {
  /* background-color:black !important; */
  margin-top: 4px !important;
}

.tab-container {
  display: flex;
}

.ui.tab.active,
.ui.tab.open {
  display: None !important;
}

.middle-container {
  margin-left: 10%;
  padding-top: 3rem;
  width: 1200px;
}

.middle-container .ui.negative.message .header {
  text-align: center;
}

.middle-container img {
  max-width: 600px;
  margin-left: 300px;
}

.ui.dimmer {
  /* very interesing for dimmer */
  position:fixed !important;
}

/* .ui.card .meta,  */
.card .meta {
  cursor:pointer;
}
