.title {
  flex-grow: 1;
}

.border {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.login-form {
  display: flex;
  width: 500px;
  flex-direction: column;
}

/* .login-form :last-child {
    margin-left:auto;
    /* margin-top: 50px */

.login-button {
  margin-left: auto !important;
  margin-top: 30px !important;
}
